[Unit]
Description=VPC Peering Route Injection
Requires=systemd-networkd-wait-online.service systemd-networkd.service
After=systemd-networkd-wait-online.service systemd-networkd.service
PartOf=systemd-networkd.service

[Service]
Type=oneshot
ExecStart=/var/lib/cloud/scripts/peering.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
